## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

In [ ]:
#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
from IPython.core import application
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_type_value_counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = list(application_type_value_counts[application_type_value_counts < 500].index)

# # Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[application_df['CLASSIFICATION'].value_counts() > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_value_counts = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = list(classification_value_counts[classification_value_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
converted_df = pd.get_dummies(application_df, dtype=float)
converted_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
# Split our preprocessed data into our features and target arrays
y = converted_df.IS_SUCCESSFUL.values
X = converted_df.drop("IS_SUCCESSFUL", axis = 1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

features = len( X_train_scaled[0])

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=10, activation="relu", input_dim=features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=10, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=15, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_49"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_190 (Dense)           (None, 10)                440

 dense_191 (Dense)           (None, 10)                110

 dense_192 (Dense)           (None, 15)                165

 dense_193 (Dense)           (None, 1)                 16

=================================================================
Total params: 731
Trainable params: 731
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, validation_split=0.15, epochs=20)

Epoch 1/20
684/684 [==============================] - 3s 2ms/step - loss: 0.6061 - accuracy: 0.6890 - val_loss: 0.5576 - val_accuracy: 0.7380
Epoch 2/20
684/684 [==============================] - 2s 2ms/step - loss: 0.5668 - accuracy: 0.7248 - val_loss: 0.5534 - val_accuracy: 0.7391
Epoch 3/20
684/684 [==============================] - 2s 2ms/step - loss: 0.5621 - accuracy: 0.7267 - val_loss: 0.5521 - val_accuracy: 0.7375
Epoch 4/20
684/684 [==============================] - 2s 3ms/step - loss: 0.5593 - accuracy: 0.7279 - val_loss: 0.5496 - val_accuracy: 0.7370
Epoch 5/20
684/684 [==============================] - 2s 3ms/step - loss: 0.5567 - accuracy: 0.7285 - val_loss: 0.5493 - val_accuracy: 0.7372
Epoch 6/20
684/684 [==============================] - 1s 2ms/step - loss: 0.5550 - accuracy: 0.7287 - val_loss: 0.5502 - val_accuracy: 0.7352
Epoch 7/20
684/684 [==============================] - 2s 2ms/step - loss: 0.5537 - accuracy: 0.7287 - val_loss: 0.5496 - val_accuracy: 0.7352
Epoch 8/20
684/684 [==============================] - 1s 2ms/step - loss: 0.5529 - accuracy: 0.7302 - val_loss: 0.5501 - val_accuracy: 0.7341
Epoch 9/20
684/684 [==============================] - 2s 2ms/step - loss: 0.5524 - accuracy: 0.7306 - val_loss: 0.5495 - val_accuracy: 0.7354
Epoch 10/20
684/684 [==============================] - 2s 2ms/step - loss: 0.5516 - accuracy: 0.7314 - val_loss: 0.5496 - val_accuracy: 0.7349
Epoch 11/20
684/684 [==============================] - 2s 3ms/step - loss: 0.5509 - accuracy: 0.7316 - val_loss: 0.5491 - val_accuracy: 0.7346
Epoch 12/20
684/684 [==============================] - 2s 3ms/step - loss: 0.5505 - accuracy: 0.7313 - val_loss: 0.5501 - val_accuracy: 0.7346
Epoch 13/20
684/684 [==============================] - 1s 2ms/step - loss: 0.5504 - accuracy: 0.7327 - val_loss: 0.5505 - val_accuracy: 0.7336
Epoch 14/20
684/684 [==============================] - 1s 2ms/step - loss: 0.5499 - accuracy: 0.7317 - val_loss: 0.5489 - val_accuracy: 0.7354
Epoch 15/20
684/684 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7317 - val_loss: 0.5492 - val_accuracy: 0.7339
Epoch 16/20
684/684 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7312 - val_loss: 0.5518 - val_accuracy: 0.7349
Epoch 17/20
684/684 [==============================] - 2s 2ms/step - loss: 0.5490 - accuracy: 0.7319 - val_loss: 0.5473 - val_accuracy: 0.7334
Epoch 18/20
684/684 [==============================] - 2s 2ms/step - loss: 0.5485 - accuracy: 0.7314 - val_loss: 0.5476 - val_accuracy: 0.7321
Epoch 19/20
684/684 [==============================] - 2s 3ms/step - loss: 0.5483 - accuracy: 0.7321 - val_loss: 0.5459 - val_accuracy: 0.7336
Epoch 20/20
684/684 [==============================] - 2s 3ms/step - loss: 0.5484 - accuracy: 0.7327 - val_loss: 0.5478 - val_accuracy: 0.7336

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5560 - accuracy: 0.7305 - 366ms/epoch - 1ms/step
Loss: 0.5559860467910767, Accuracy: 0.7304956316947937